html {
  height: 100%;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  word-wrap: break-word;
  hyphens: auto;
  background-color: #1e1e1e;
  color: #ccc;
}

body {
  height: 100%;
  overflow: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
